body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0; /* Add this line to position the navbar from the left edge */
  width: 100%;
}

/* Add custom styling for the navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:not(:last-child) {
  margin-right: 10px; /* Adjust the margin-right value to adjust the spacing between links */
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

body {
  padding-top: 70px;
  margin: 0; /* Add this line to remove the default body margin */
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #333;
}

.login-container form input,
.login-container form button {
  display: block;
  margin-bottom: 10px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: #555;
}

.login-container form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #45a049;
}

.login-container .toggle-link {
  text-align: center;
  margin-top: 10px;
}

.login-container .toggle-link a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}